@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea borrar este registro?</h3>
<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.barrio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ambientes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ambientes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.banos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.banos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cochera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cochera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
